@model List<ElectroMart.Models.Product>    
    	@{
            Layout = "~/Views/Shared/_Layout.cshtml";
		}

    
    @Html.Partial("Items")
    <div class="container">
        <hr>
    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>